html, body {
    height: 100%;
}

body {
  background: #333333;
  color: #f3f3f3;
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

a {
  color: #f3f3f3;
}

.info {
  width: 300px;
  display: relative;
  margin-right: 25px;
}

.footer {
  position: absolute;
  bottom: 15px;
  right: 15px;
}